{% extends 'base/base.html' %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
	<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">
	<title>Index</title>
</head>
<body>
	<h1>Pagina de inicio!</h1>
	{% if user.is_authenticated %}
	<p>Bienvenido: {{ user.username }}</p>
	{% endif %}

	<form method="post" action="{% url 'logout2' %}">
		{% csrf_token %}
		<input type="submit" value="Cerrar Sesion">
	</form>

</body>
</html>
{% endblock %}