{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Signin Template · Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap2.min.css' %}" rel="stylesheet">

    

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      .img-responsive {
        width:450px !important;
        height:450px !important;
      }
          @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="{% static 'css/signing.css' %}" rel="stylesheet">
  </head>
  <body class="text-center">

    <form class="form-signin" method="post" action="{% url 'login' %}">
      <img src="static\img\unab.png" class="img-responsive" style="width:120px !important; height:150px !important" alt="">
      {% csrf_token %}
      
  <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal"><br><b></h1>
  <input type="text" id="username" name="username" class="form-control" placeholder="Nombre de usuario" required autofocus>
  <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required>
  <button class="btn btn-lg btn-danger btn-block" type="submit">Ingresar</button>
</form>
</body>
</html>
