<!DOCTYPE html>
<html>
<head>
	<title>sign</title>
</head>
<body>
  <img src="templates/usuarios/unab.png">
	<form method="post" action="{% url 'sign' %}">
<img src="static\img\unab.png" class="img-responsive" style="width:120px !important; height:150px !important" alt="">
		{% csrf_token %}
		<p>{{form.username}}</p>
		<p>{{form.password}}</p>
		
		<input type="submit" value="login">
	</form>
</body>
</html>