{% extends 'base/base.html'%}

{% block content %}

		<form method='POST'>
			{% csrf_token %}
			<h3>¿Desea eliminar todos los registros?</h3>
			<button class="btn btn-danger" type="submit">Si, Eliminar</button>
			<a class="btn btn-success" href="{% url 'listar_docente' %}">Cancelar</a>
		</form>

{% endblock %}