{% extends 'base/base.html'%}


{% block js %}

    <script>

    $(document).ready(function() {

        $('#emails-submit').on('click',function(e){

        var buttons = document.getElementsByClassName('d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm');

        for (var i = 0; i < buttons.length; i++)

            buttons[i].click();

        });

    });

    $('.send_mail').on('click', function(){
    	rutProfesor =$(this).closest('tr').find('.rut').text();
    	$.ajax({
    		'url': "{% url 'async_send_mail'%}",
    		'type':'post',
    		'data':{
    			csrfmiddlewaretoken:'{{csrf_token}}',
    			rut: rutProfesor
    		},
    		'success':function(result){
    			console.log(result);
    		},
    		error:function(){
    			console.log('error');
    		}
    	});
    });

    </script>

{% endblock %}



{% block content %}



	<div class="container-fluid">

	<div class="card shadow mb-4">

            <div class="card-header py-3">

              <h6 class="m-0 font-weight-bold text-primary">MENSAJERIA</h6>

            </div>



            <div class="col-11" align="right">

              <button id="emails-submit" class="btn btn-lg btn-success">Enviar todo</button>

            </div>



            <div class="card-body">

              <div class="table-responsive">

                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

				<thead>

			

				<tr>

					<td align="center">RUT</td>

					<td align="center">Nombre Docente</td>

					<td align="center">Carrera</td>

                    <td align="center">Email</td>

					<td align="center">Enviar Reporte</td>

			</tr>

		</thead>



			<tbody>

				{% if profesores %}

				{% for profesor in profesores %}

				<tr>

					<td class="rut" align="center">{{ profesor.RUT }}</td>

                    <td align="center">{{ profesor.nombre_docente }}</td>

                    <td align="center">{{ profesor.programa }}</td>

					<td align="center">{{ profesor.email }}</td>

					

            <td align="center"><span class="send_mail d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"><i class="fas fa-envelope"></i></span></td>

            <!--

            <td align="center"><a href="{% url 'contact' profesor.id %}"class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"><i class="fas fa-envelope"></i></a></td>

-->

          </div>

      </td>

				</tr>

				{% endfor %}

				
	
				{% else %}

				<h1>No hay registros de docentes.</h1>



				{% endif %}

			</tbody>

			</table>

              </div>

            </div>

          </div>

           </div>

{% endblock %}