{% extends 'base/base.html'%}

{% block content %}
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<input  type="file" name="myfile">
		<button type="submit" class="btn btn-danger"> Importar Excel</button>
	</form>
{% endblock %}

