{% load static %}



<!DOCTYPE html>

<html lang="en">



<head>



  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="description" content="">

  <meta name="author" content="">



  <title>EnviFacil</title>



  <!-- Custom fonts for this template-->

  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

  <link href="{% static 'https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet' %}">



  <!-- Custom styles for this template-->

  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">



</head>



<body id="page-top">



  <!-- Page Wrapper -->

  <div id="wrapper">



    <!-- Sidebar -->

    <ul class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion" id="accordionSidebar">



      <!-- Sidebar - Brand -->

      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">

        <div class="sidebar-brand-icon rotate-n-15">

        <i class="fas fa-envelope"></i>

        </div>

        <div class="sidebar-brand-text mx-3">Envi<sup>Facil</sup></div>

      </a>



      <!-- Divider -->

      <hr class="sidebar-divider my-0">



      <!-- Nav Item - Dashboard -->

      <li class="nav-item active">

        <a class="nav-link" href='/reporte_online'>

          <i class="fas fa-envelope"></i>

          <span>EnviFacil</span></a>

      </li>



      <!-- Divider -->

      <hr class="sidebar-divider">



      <!-- Heading -->

      <div class="sidebar-heading">

        MENU

      </div>



      <!-- Nav Item - Pages Collapse Menu

      <li class="nav-item">

        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">

          <i class="fas fa-fw fa-folder"></i>

          <span>Registrar Docente</span>

        </a>

        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">

          <div class="bg-white py-2 collapse-inner rounded">

            <h6 class="collapse-header">Login Screens:</h6>

            <a class="collapse-item" href="login.html">Login</a>

            <a class="collapse-item" href="register.html">Register</a>

            <a class="collapse-item" href="forgot-password.html">Forgot Password</a>

            <div class="collapse-divider"></div>

            <h6 class="collapse-header">Other Pages:</h6>

            <a class="collapse-item" href="404.html">404 Page</a>

            <a class="collapse-item" href="blank.html">Blank Page</a>

          </div>

        </div>

      </li>

 -->

      <!-- Nav Item - Charts -->

      

      <li class="nav-item">

        <a class="nav-link" href="/reporte_online">

          <i class="fas fa-chart-pie"></i>

          <span>Reporte Online</span></a>

      </li>



      <li class="nav-item">

        <a class="nav-link" href="/email">

          <i class="fas fa-envelope-square"></i>

          <span>Envío de Reportes</span></a>

      </li>



      <li class="nav-item">

        <a class="nav-link" href="/acuso_recibo">

          <i class="fas fa-check"></i>

          <span>Visualización Reporte</span></a>

      </li>



      <li class="nav-item">

        <a class="nav-link" href='/listar_docente'>

          <i class="fas fa-fw fa-table"></i>

          <span>Ver Docentes</span></a>

      </li>



      <li class="nav-item">

        <a class="nav-link" href="/crear_docente">

          <i class="fas fa-user-plus"></i>

          <span>Registrar Nuevo Docente</span></a>

      </li>











      <!-- Divider -->

      <hr class="sidebar-divider d-none d-md-block">



      <!-- Sidebar Toggler (Sidebar) -->

      <div class="text-center d-none d-md-inline">

        <button class="rounded-circle border-0" id="sidebarToggle"></button>

      </div>



    </ul>

    <!-- End of Sidebar -->



    <!-- Content Wrapper -->

    <div id="content-wrapper" class="d-flex flex-column">



      <!-- Main Content -->

      <div id="content">



        <!-- Topbar -->

        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">



          <!-- Sidebar Toggle (Topbar) -->

          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">

            <i class="fa fa-bars"></i>

          </button>



          <!-- Topbar Search -->

          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">

            <div class="input-group">

              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">

              <div class="input-group-append">

                <button class="btn btn-primary" type="button">

                  <i class="fas fa-search fa-sm"></i>

                </button>

              </div>

            </div>

          </form>





        </nav>

        <!-- End of Topbar -->



        <!-- Begin Page Content -->

        <div class="container-fluid">



          <!-- Page Heading -->

          

          <!-- Content Row -->

          <div class="row">

{% block content %}

      

{% endblock %}

</div>



            <!-- Earnings (Monthly) Card Example 

            <div class="col-xl-3 col-md-6 mb-4">

              <div class="card border-left-primary shadow h-100 py-2">

                <div class="card-body">

                  <div class="row no-gutters align-items-center">

                    <div class="col mr-2">

                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Earnings (Monthly)</div>

                      <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>

                    </div>

                    <div class="col-auto">

                      <i class="fas fa-calendar fa-2x text-gray-300"></i>

                    </div>

                  </div>

                </div>

              </div>

            </div>

-->

            <!-- Earnings (Monthly) Card Example 

            <div class="col-xl-3 col-md-6 mb-4">

              <div class="card border-left-success shadow h-100 py-2">

                <div class="card-body">

                  <div class="row no-gutters align-items-center">

                    <div class="col mr-2">

                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Earnings (Annual)</div>

                      <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>

                    </div>

                    <div class="col-auto">

                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>

                    </div>

                  </div>

                </div>

              </div>

            </div>

-->

            <!-- Earnings (Monthly) Card Example 

            <div class="col-xl-3 col-md-6 mb-4">

              <div class="card border-left-info shadow h-100 py-2">

                <div class="card-body">

                  <div class="row no-gutters align-items-center">

                    <div class="col mr-2">

                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks</div>

                      <div class="row no-gutters align-items-center">

                        <div class="col-auto">

                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>

                        </div>

                        <div class="col">

                          <div class="progress progress-sm mr-2">

                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>

                          </div>

                        </div>

                      </div>

                    </div>

                    <div class="col-auto">

                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>

                    </div>

                  </div>

                </div>

              </div>

            </div>

-->

            <!-- Pending Requests Card Example 

            <div class="col-xl-3 col-md-6 mb-4">

              <div class="card border-left-warning shadow h-100 py-2">

                <div class="card-body">

                  <div class="row no-gutters align-items-center">

                    <div class="col mr-2">

                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending Requests</div>

                      <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>

                    </div>

                    <div class="col-auto">

                      <i class="fas fa-comments fa-2x text-gray-300"></i>

                    </div>

                  </div>

                </div>

              </div>

            </div>

          </div>

-->

          <!-- Content Row 



          <div class="row">

-->

            <!-- Area Chart 

            <div class="col-xl-8 col-lg-7">

              <div class="card shadow mb-4">

                -->

                <!-- Card Header - Dropdown 

                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">

                  <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>

                  <div class="dropdown no-arrow">

                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>

                    </a>

                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">

                      <div class="dropdown-header">Dropdown Header:</div>

                      <a class="dropdown-item" href="#">Action</a>

                      <a class="dropdown-item" href="#">Another action</a>

                      <div class="dropdown-divider"></div>

                      <a class="dropdown-item" href="#">Something else here</a>

                    </div>

                  </div>

                </div>

                -->

                <!-- Card Body 

                <div class="card-body">

                  <div class="chart-area">

                    <canvas id="myAreaChart"></canvas>

                  </div>

                </div>

              </div>

            </div>

-->

            <!-- Pie Chart 

            <div class="col-xl-4 col-lg-5">

              <div class="card shadow mb-4">-->

                <!-- Card Header - Dropdown 

                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">

                  <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>

                  <div class="dropdown no-arrow">

                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>

                    </a>

                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">

                      <div class="dropdown-header">Dropdown Header:</div>

                      <a class="dropdown-item" href="#">Action</a>

                      <a class="dropdown-item" href="#">Another action</a>

                      <div class="dropdown-divider"></div>

                      <a class="dropdown-item" href="#">Something else here</a>

                    </div>

                  </div>

                </div>-->

                <!-- Card Body 

                <div class="card-body">

                  <div class="chart-pie pt-4 pb-2">

                    <canvas id="myPieChart"></canvas>

                  </div>

                  <div class="mt-4 text-center small">

                    <span class="mr-2">

                      <i class="fas fa-circle text-primary"></i> Direct

                    </span>

                    <span class="mr-2">

                      <i class="fas fa-circle text-success"></i> Social

                    </span>

                    <span class="mr-2">

                      <i class="fas fa-circle text-info"></i> Referral

                    </span>

                  </div>

                </div>

              </div>

            </div>

          </div>-->



          <!-- Content Row 

          <div class="row">-->



            <!-- Content Column 

            <div class="col-lg-6 mb-4">-->



              <!-- Project Card Example 

              <div class="card shadow mb-4">

                <div class="card-header py-3">

                  <h6 class="m-0 font-weight-bold text-primary">Projects</h6>

                </div>

                <div class="card-body">

                  <h4 class="small font-weight-bold">Server Migration <span class="float-right">20%</span></h4>

                  <div class="progress mb-4">

                    <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>

                  </div>

                  <h4 class="small font-weight-bold">Sales Tracking <span class="float-right">40%</span></h4>

                  <div class="progress mb-4">

                    <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>

                  </div>

                  <h4 class="small font-weight-bold">Customer Database <span class="float-right">60%</span></h4>

                  <div class="progress mb-4">

                    <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>

                  </div>

                  <h4 class="small font-weight-bold">Payout Details <span class="float-right">80%</span></h4>

                  <div class="progress mb-4">

                    <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>

                  </div>

                  <h4 class="small font-weight-bold">Account Setup <span class="float-right">Complete!</span></h4>

                  <div class="progress">

                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>

                  </div>

                </div>

              </div>

-->

              <!-- Color System 

              <div class="row">

                <div class="col-lg-6 mb-4">

                  <div class="card bg-primary text-white shadow">

                    <div class="card-body">

                      Primary

                      <div class="text-white-50 small">#4e73df</div>

                    </div>

                  </div>

                </div>

                <div class="col-lg-6 mb-4">

                  <div class="card bg-success text-white shadow">

                    <div class="card-body">

                      Success

                      <div class="text-white-50 small">#1cc88a</div>

                    </div>

                  </div>

                </div>

                <div class="col-lg-6 mb-4">

                  <div class="card bg-info text-white shadow">

                    <div class="card-body">

                      Info

                      <div class="text-white-50 small">#36b9cc</div>

                    </div>

                  </div>

                </div>

                <div class="col-lg-6 mb-4">

                  <div class="card bg-warning text-white shadow">

                    <div class="card-body">

                      Warning

                      <div class="text-white-50 small">#f6c23e</div>

                    </div>

                  </div>

                </div>

                <div class="col-lg-6 mb-4">

                  <div class="card bg-danger text-white shadow">

                    <div class="card-body">

                      Danger

                      <div class="text-white-50 small">#e74a3b</div>

                    </div>

                  </div>

                </div>

                <div class="col-lg-6 mb-4">

                  <div class="card bg-secondary text-white shadow">

                    <div class="card-body">

                      Secondary

                      <div class="text-white-50 small">#858796</div>

                    </div>

                  </div>

                </div>

              </div>



            </div>



            <div class="col-lg-6 mb-4">

-->

              <!-- Illustrations 

              <div class="card shadow mb-4">

                <div class="card-header py-3">

                  <h6 class="m-0 font-weight-bold text-primary">Illustrations</h6>

                </div>

                <div class="card-body">

                  <div class="text-center">

                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="img/undraw_posting_photo.svg" alt="">

                  </div>

                  <p>Add some quality, svg illustrations to your project courtesy of <a target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a constantly updated collection of beautiful svg images that you can use completely free and without attribution!</p>

                  <a target="_blank" rel="nofollow" href="https://undraw.co/">Browse Illustrations on unDraw &rarr;</a>

                </div>

              </div>

-->

              <!-- Approach 

              <div class="card shadow mb-4">

                <div class="card-header py-3">

                  <h6 class="m-0 font-weight-bold text-primary">Development Approach</h6>

                </div>

                <div class="card-body">

                  <p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce CSS bloat and poor page performance. Custom CSS classes are used to create custom components and custom utility classes.</p>

                  <p class="mb-0">Before working with this theme, you should become familiar with the Bootstrap framework, especially the utility classes.</p>

                </div>

              </div>



            </div>

          </div>



        </div>-->

        <!-- /.container-fluid 



      </div>-->

      <!-- End of Main Content -->



      <!-- Footer -->

      <footer class="sticky-footer bg-white">

        <div class="container my-auto">

          <div class="copyright text-center my-auto">

            <span>Copyright Robert Arévalo, 2019</span>

          </div>

        </div>

      </footer>

      <!-- End of Footer -->



    </div>

    <!-- End of Content Wrapper -->



  </div>

  <!-- End of Page Wrapper -->



  <!-- Scroll to Top Button-->

  <a class="scroll-to-top rounded" href="#page-top">

    <i class="fas fa-angle-up"></i>

  </a>



  <!-- Logout Modal-->

  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">

      <div class="modal-content">

        <div class="modal-header">

          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>

          <button class="close" type="button" data-dismiss="modal" aria-label="Close">

            <span aria-hidden="true">×</span>

          </button>

        </div>

        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>

        <div class="modal-footer">

          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>

          <a class="btn btn-primary" href="login.html">Logout</a>

        </div>

      </div>

    </div>

  </div>



  



  <!-- Bootstrap core JavaScript-->

  <script src="vendor/jquery/jquery.min.js"></script>

  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>



  <!-- Core plugin JavaScript-->

  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>



  <!-- Custom scripts for all pages-->

  <script src="js/sb-admin-2.min.js"></script>



  <!-- Page level plugins -->

  <script src="vendor/chart.js/Chart.min.js"></script>



  <!-- Page level custom scripts -->

  <script src="js/demo/chart-area-demo.js"></script>

  <script src="js/demo/chart-pie-demo.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  {% block js %}

  {% endblock %}



</body>



</html>