{% extends 'base/base.html'%}


{% block content %}
	<title>LISTADO DOCENTE</title>

	<div class="container-fluid">
	<div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">DOCENTES</h6>
              <div class="row">
              	<div class="col-12" align="center">

              		<a class="btn btn-secondary" href="{% url 'import' %}"> <i class="far fa-file-excel"></i>  IMPORTAR EXCEL</a>
              	</div>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
				<thead>
			
				<tr>
					<td align="center"><h5>RUT</h5></td>
					<td align="center"><h5>Nombre</h5></td>
					<td align="center"><h5>Email</h5></td>
					<td align="center"><h5>Carrera</h5></td>
					<td align="center">
						<a class="btn btn-danger" href="{% url 'eliminar_todo' %}"><i class="fas fa-user-times"></i>   ELIMINAR TODO</a>
					</td>
					<td align="center"> 
						<a class="btn btn-success" href="{% url 'crear_docente' %}"><i class="fas fa-user"></i>  REGISTRAR</a>
					</td>
			</tr>
		</thead>

			<tbody>
				{% if profesores %}
				{% for profesor in profesores %}
				<tr>
					<td align="center">{{ profesor.RUT }}</td>
					<td align="center">{{ profesor.nombre_docente }}</td>
					<td align="center">{{ profesor.email }}</td>
					<td align="center">{{ profesor.programa }}</td>
					<td align="center">
						<a class="btn btn-primary" href="{% url 'editar_docente' profesor.id %}"> <i class="fas fa-edit"></i>  EDITAR</a>
					</td>
					<td align="center">
						<a class="btn btn-danger" href="{% url 'eliminar_docente' profesor.id %}"><i class="fas fa-user-times"></i>   ELIMINAR</a>
					</td>
				</tr>
				{% endfor %}
				
				{% else %}
				<h1>No hay registros de docentes.</h1>

				{% endif %}
			</tbody>
			</table>
              </div>
            </div>
          </div>
           </div>
{% endblock %}
