{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
  	<head>
    <!-- Required meta tags -->
    	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<title>login2 template</title>
</head>
<body>
	<form method="post" action="{% url 'login' %}">
		<img src="static\img\unab.png" class="img-responsive" style="width:120px !important; height:150px !important" alt="">
		{% csrf_token %}
		<p>Nombre de usuario: <input type="text" name="username" id="username"></p>
		<p>Contraseña: <input type="password" name="password" id="password"></p>
		<button type="submit">Login</button>
	</form>
</body>
</html>