{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
  	<head>
    <!-- Required meta tags -->
    	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<title>Login template</title>
</head>
<body>
	<form method="post" action="{% url 'login' %}">
<img src="static\img\unab.png" class="img-responsive" style="width:120px !important; height:150px !important" alt="">
		{% csrf_token %}
		<p>Nombre de usuario: {{form.username}}</p>
		<p>Contraseña: {{form.password}}</p>
		
		<input type="submit" value="login">
	</form>
</body>
</html>