{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
  	<head>
    <!-- Required meta tags -->
    	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<title>Register template</title>
</head>
<body>
	<form method="post">
		{% csrf_token %}

		{{ form.as_p }}
		{{ profile_form.as_p }}
		<input type="submit" value="registro">
	</form>
</body>
</html>