{% extends 'base/base.html'%}

{% block content %}

<div class="col-lg-12">

<div class="container">
	
<div class="col-6">
		<form method="post">
			{% csrf_token %}
			<div class="form-group">
				<label for="id_first_name">Nombre</label>
				{{form.first_name}}
			</div>
			<div class="form-group">
				<label for="id_last_name">Apellido</label>
				{{form.last_name}}
			</div>
			<div class="form-group">
				<label for="id_username">Nombre de usuario</label>
				{{form.username}}
			</div>
			<div class="form-group">
				<label for="id_password1">Contraseña</label>
				{{form.password1}}
			</div>
			<div class="form-group">
				<label for="id_password2">Confirmar contraseña</label>
				{{form.password2}}
			</div>
			<div class="form-group">
				<label for="id_email">Email</label>
				{{profile_form.email}}
			</div>
			<div class="form-group">
				<label for="id_carrera">Facultad</label>
				{{profile_form.facultad}}
			</div>

			<button type="submit" class="btn btn-danger">Agregar</button>
		</form>
	</div>
	
</body>
</div>
</div>


{% endblock %}