{% extends 'base/base.html'%}
{% block content %}
	<form method="post">
		{% csrf_token %}
		<p>¿Estás seguro de eliminar a este usuario {{usuario.usuario.first_name}}?</p>
		<input type="submit" value="Eliminar">
	</form>
{% endblock %}