{% extends 'base/base.html' %}
{% block content %}
<form method="post">
	{% csrf_token %}
	<div class="form-group col-6">
		<label for="id_first_name">Nombre</label>
		{{form.first_name}}
	</div>
	<div class="form-group col-6">
		<label for="id_last_name">Apellido</label>
		{{form.last_name}}
	</div>
	<div class="form-group col-6">
		<label for="id_username">Nombre de usuario</label>
		{{form.username}}
	</div>
	<div class="form-group col-6">
		<label for="id_password1">Contraseña</label>
		{{form.password1}}
	</div>
	<div class="form-group col-6">
		<label for="id_password2">Confirmar contraseña</label>
		{{form.password2}}
	</div>
	<div class="form-group col-6">
		<label for="id_email">Email</label>
		{{profile_form.email}}
	</div>
	<div class="form-group col-6">
		<label for="id_facultad">Facultad</label>
		{{profile_form.facultad}}
	</div>
	<div class="form-group col-6">
		<button type="submit" class="btn btn-primary">Editar</button>
	</div>
</form>
{% endblock %}