{% extends 'base/base.html' %}
{% block content %} 
  <div class="container-fluid">
  <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">USUARIOS</h6>
        
            </div>

            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
      
        <tr>
          <td align="center"><h5><b>Usuario</h5></td>
          <td align="center"><h5><b>Nombre</h5></td>
          <td align="center"><h5><b>Apellido</h5></td>
          <td align="center"><h5><b>Email</h5></td>
          <td align="center"><h5><b>Carrera</h5></td>
          <td align="center">
          </td>
          <td align="center"> 
            <a class="btn btn-success" href="{% url 'agregar_usuarios' %}"><i class="fas fa-user"></i>  REGISTRAR</a>
          </td>
      </tr>
    </thead>

      <tbody>
        {% if usuarios %}
        {% for usuario in usuarios %}
        <tr>
          <td align="center">{{usuario}}</td>
          <td align="center">{{usuario.usuario.first_name}}</td>
          <td align="center">{{usuario.usuario.last_name}}</td>
          <td align="center">{{usuario.email}}</td>
          <td align="center">{{usuario.facultad}}</td>
          <td><a class="btn btn-primary" href="{% url 'editar_usuarios' usuario.id %}"> <i class="fas fa-edit"></i>  EDITAR</a>
          </td>
          <td align="center">
            <a class="btn btn-danger" href="{% url 'eliminar_usuarios' usuario.id %}"><i class="fas fa-user-times"></i>   ELIMINAR</a>
          </td>
        </tr>
        {% endfor %}
        
        {% else %}
        <h1>No hay registros de Usuarios.</h1>

        {% endif %}
      </tbody>
      </table>
              </div>
            </div>
          </div>
           </div>
{% endblock %}
