{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>EnviFacil</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet' %}">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-envelope"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Envi<sup>Facil</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        MENU
      </div>

 {% if request.user.is_staff == True and request.user.is_authenticated == True %}
 
      <li class="nav-item active">
        <a class="nav-link" href="/administrador">
          <i class="fas fa-envelope"></i>
          <span>EnviFacil</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'agregar_usuarios' %}">
          <i class="fas fa-user-plus"></i>
          <span>Registrar Usuario</span></a>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="{% url 'listar_usuarios' %}">
          <i class="fas fa-fw fa-table"></i>
          <span>Ver Usuarios</span></a>
      </li>

      
      <li class="nav-item">
        <a class="nav-link" href="/docente/crear_docente">
          <i class="fas fa-user-plus"></i>
          <span>Registrar Docente</span></a>
      </li>

    
      <li class="nav-item">
        <a class="nav-link" href="/docente/listar_docente">
          <i class="fas fa-fw fa-table"></i>
          <span>Ver Docentes</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/docente/reporte_online">
          <i class="fas fa-chart-pie"></i>
          <span>Reporte Online</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/docente/email">
          <i class="fas fa-envelope-square"></i>
          <span>Envio Reportes</span></a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/docente/acuso_recibo">
          <i class="fas fa-check"></i>
          <span>Visualizaciones</span></a>
      </li>

      {% else %}

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index_gap' %}">
          <i class="fas fa-envelope"></i>
          <span>EnviFacil</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/docente/email">
          <i class="fas fa-envelope-square"></i>
          <span>Envio Reportes</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/docente/reporte_online">
          <i class="fas fa-chart-pie"></i>
          <span>Reporte Online</span></a>
      </li>

      {% endif %}

      

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">


          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

              <a class="btn btn-danger" href="{% url '' %}"> Cerrar Sesion
              </a>
        </nav>

          <!-- Content Row -->
          <div class="row">
            <div class="container-fluid">
        <h1>EnviFacil</h1>
        {% if request.user.is_staff == True and request.user.is_authenticated %}
        <p>Bienvenido: Administrador</p>
        <div class="container-fluid">
<!--
          
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Descargar Reporte</a>
          </div>
-->
        {% else %}
        <p>Bienvenido Director: {{user.first_name}} {{user.last_name}} </p>
        {% endif %}
      
    </div>
{% block content %}
      
{% endblock %}
  </div>
</div>



      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright Robert Arévalo, 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->

  <script src="js/demo/chart-area-demo.js"></script>

  <script src="js/demo/chart-pie-demo.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  {% block js %}

  {% endblock %}



</body>

</html>


